.App {
  text-align: center;
  max-width: 45%;
  max-height: 100%;
  margin: 0 auto;
  background-color: rgb(17, 17, 29);
  padding-bottom: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
